In [2]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns',inplace=True)

KeyError: "['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'] not found in axis"

In [5]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [7]:
target = df.Survived
inputs = df.drop(['Survived'], axis = 'columns')

In [8]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [9]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [10]:
dummie_sex = pd.get_dummies(inputs.Sex)
dummie_sex

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [12]:
inputs = pd.concat([inputs,dummie_sex], axis = 'columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male  female  male
0       3    male  22.0   7.2500       0     1       0     1
1       1  female  38.0  71.2833       1     0       1     0
2       3  female  26.0   7.9250       1     0       1     0
3       1  female  35.0  53.1000       1     0       1     0
4       3    male  35.0   8.0500       0     1       0     1

In [16]:
inputs.drop('Sex', axis = 'columns', inplace= True)

KeyError: "['Sex'] not found in axis"

In [17]:
inputs.head()

   Pclass   Age     Fare  female  male  female  male
0       3  22.0   7.2500       0     1       0     1
1       1  38.0  71.2833       1     0       1     0
2       3  26.0   7.9250       1     0       1     0
3       1  35.0  53.1000       1     0       1     0
4       3  35.0   8.0500       0     1       0     1

In [18]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [19]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass   Age     Fare  female  male  female  male
0       3  22.0   7.2500       0     1       0     1
1       1  38.0  71.2833       1     0       1     0
2       3  26.0   7.9250       1     0       1     0
3       1  35.0  53.1000       1     0       1     0
4       3  35.0   8.0500       0     1       0     1

In [20]:
inputs.head(6)

   Pclass        Age     Fare  female  male  female  male
0       3  22.000000   7.2500       0     1       0     1
1       1  38.000000  71.2833       1     0       1     0
2       3  26.000000   7.9250       1     0       1     0
3       1  35.000000  53.1000       1     0       1     0
4       3  35.000000   8.0500       0     1       0     1
5       3  29.699118   8.4583       0     1       0     1

In [23]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.2)

In [24]:
len(X_train)

712

In [25]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

In [26]:
model.fit(X_train,y_train)

GaussianNB()

In [27]:
model.score(X_test,y_test)

0.776536312849162

In [28]:
model.predict_proba(X_test[:10])

array([[9.99341709e-01, 6.58291097e-04],
       [9.94764552e-01, 5.23544792e-03],
       [9.99045361e-01, 9.54638901e-04],
       [9.99192298e-01, 8.07701744e-04],
       [2.07808761e-04, 9.99792191e-01],
       [9.98218798e-01, 1.78120182e-03],
       [9.99286341e-01, 7.13659436e-04],
       [9.99289541e-01, 7.10459033e-04],
       [2.44364650e-04, 9.99755635e-01],
       [2.71478277e-04, 9.99728522e-01]])

In [30]:
model.predict(X_test[:10])

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 1])