In [1]:
#creating a dictionary
# Creating a dictionary
person = {
    'name': 'John',
    'age': 30,
    'city': 'New York'
}

In [2]:
person['name']

'John'

In [3]:
person['age']

30

In [4]:
person['city']

'New York'

In [5]:
person['color']

KeyError: 'color'

In [6]:
#another way to access the values from dict

person.get('name')

'John'

In [7]:
person.get('city')

'New York'

In [8]:
person.get('color') #None

In [9]:
#Adding new key-value pair to the dictionary(Dictionaries are mutable)

person['occupation'] = "Software Engineer"

In [10]:
person

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'occupation': 'Software Engineer'}

In [11]:
#Removing a key-value pair from the dictionary

del person['age']

In [12]:
person

{'name': 'John', 'city': 'New York', 'occupation': 'Software Engineer'}

In [13]:
#we can also use pop to retrieve key-value pair and remove from the dict

city = person.pop('city')
print(city)

print(person)

New York
{'name': 'John', 'occupation': 'Software Engineer'}

In [14]:
employee = {
    "Name": "John",
    "Id": "321562",
    "City": "New York",
    "Country": "United States"

}

In [15]:
#iterating over keys of a dictionary
for key in employee.keys():
    print(key)

Name
Id
City
Country

In [16]:
#iterating over value of a dictionary
for value in employee.values():
    print(value)

John
321562
New York
United States

In [17]:
#iterating over both keys and values of a dict
for key , value in employee.items():
    print(key,value)

Name John
Id 321562
City New York
Country United States