In [1]:
def square(x):
    
    result = x ** 2
    return result

In [2]:
print(square(4))

16

In [3]:
def check_even_odd(num):
    """Check if a number is even or odd."""
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [4]:
check_even_odd(3)

'Odd'

In [5]:
check_even_odd(6)

'Even'

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for num in range(5):
    print(num ** 2)

0
1
4
9
16

In [5]:
def my_func(num):
    return num*2

In [6]:
# map()

list1 = [1,2,3,4,5]

In [7]:
list(map(my_func,list1))

[2, 4, 6, 8, 10]

In [8]:
# lambda expressions

y = lambda x: x ** 2

In [9]:
y(4)

16