In [1]:
my_list = [1,2,3, "hello", "world", 34.2]

In [2]:
my_list

[1, 2, 3, 'hello', 'world', 34.2]

In [3]:
#Accessing list items using index

print(my_list[2])
print(my_list[4])

3
world

In [4]:
#Lists are mutable, means you can change the list items 

my_list[1] = 3

print(my_list)

[1, 3, 3, 'hello', 'world', 34.2]

In [5]:
#length of the list

print(len(my_list))

6

In [6]:
#slicing the list

print(my_list[2:4])

[3, 'hello']

In [7]:
#Adding elements to the list using append

my_list.append("Apple")
my_list.append("Orange")

my_list

[1, 3, 3, 'hello', 'world', 34.2, 'Apple', 'Orange']

In [8]:
#Adding elements at specific index using insert
my_list.insert(3, "Lime")
my_list.insert(4, "Kiwi")

my_list

[1, 3, 3, 'Lime', 'Kiwi', 'hello', 'world', 34.2, 'Apple', 'Orange']

In [9]:
#Removing the elements from the list
#remove - Removes the first occurence of the element from the list
my_list.remove(3)
my_list

[1, 3, 'Lime', 'Kiwi', 'hello', 'world', 34.2, 'Apple', 'Orange']

In [11]:
#if you know the index of the element to remove , use del or pop
del my_list[1]
print(my_list)

deleted_element = my_list.pop(5)
print(deleted_element)
print(my_list)

Apple
[1, 'Kiwi', 'hello', 'world', 34.2, 'Orange']

In [12]:
#list operations
#Concatenation 
list1 = ["Hello", "World"]
list2 = [2,5,6]
list3 = list1 + list2
list3

['Hello', 'World', 2, 5, 6]

In [13]:
#Repetition of the list using *

my_list

[1, 'Kiwi', 'hello', 'world', 34.2, 'Orange']

In [14]:
new_list = my_list * 2
new_list

[1,
 'Kiwi',
 'hello',
 'world',
 34.2,
 'Orange',
 1,
 'Kiwi',
 'hello',
 'world',
 34.2,
 'Orange']

In [16]:
#sort the elements in the list using 'sort'
list1 = [2,1,4,6,3,5]
list1.sort()
list1

[1, 2, 3, 4, 5, 6]

In [17]:
#count the number of occurences of the element in a list

list2 = ["Apple", "Banana", "Banana", "Orange", "Kiwi", "Kiwi", "Kiwi"]

print(list2.count("Banana"))
print(list2.count("Kiwi"))

2
3

In [18]:
#return index of an element (first occurence)
list2.index("Orange")

3

In [19]:
#return index of an element within a specified range of indexes
list2.index("Orange", 2, 6)

3

In [20]:
#Reverse the list 

list2.reverse()
list2

['Kiwi', 'Kiwi', 'Kiwi', 'Orange', 'Banana', 'Banana', 'Apple']

In [21]:
list2[::-1]

['Apple', 'Banana', 'Banana', 'Orange', 'Kiwi', 'Kiwi', 'Kiwi']

In [22]:
list2.clear()
list2

[]