In [1]:
#tuples are similar to lists, but immutable

my_tuple = 1,2,3,4

print(my_tuple)

(1, 2, 3, 4)

In [2]:
#another way to create tuple

my_tuple1 = (1,2,3,4,5)

print(my_tuple1)

(1, 2, 3, 4, 5)

In [3]:
#Accessing the tuple values. Similar to lists

print(my_tuple1[1])

2

In [4]:
print(my_tuple[3])

4

In [5]:
print(my_tuple[-1])

4

In [6]:
#Methods for tuple. Count(value):Returns the number of occurences of the given value,
#index(value): returns the index of the first occurence of the given value

print(my_tuple.count(1))

1

In [7]:
print(my_tuple1.index(2))

1

In [8]:
#we can iterate over a tuple using for loop

for item in my_tuple:
    print(item)

1
2
3
4

In [9]:
#tuple packing amd unpacking

tupl = "apple", "banana", "cherry"

print(tupl)

('apple', 'banana', 'cherry')

In [10]:
a, b, c = tupl

print(a)
print(b)
print(c)

apple
banana
cherry

In [12]:
#immutability
new_tupl = tupl + ("mango", "orange")
print(new_tupl)

('apple', 'banana', 'cherry', 'mango', 'orange')

In [13]:
#slicing in tuple

new_tupl[2:5]

('cherry', 'mango', 'orange')